@font-face {
    font-family: boldHeading;
    src: url(../fonts/PTSerif-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: regularText;
    src: url(../fonts/PTSerif-Regular.ttf);
    font-weight: bold;
}

body {
    background-color: #FFF2D7;
    font-family: regularText;
}

h1, h2, h3, h4, h5, h6 {
    font-family: boldHeading;
    color: #4A2C2C;
}

a {
    text-decoration: none;
    color: white;
}

.primary-background {
    background-color: #FFFCF2;
}

.secondary-background {
    background-color: #BA494C;
}

.custom-text {
    color: #4A2C2C;
}

.custom-btn {
    background-color: #BA494C;
}

.custom-btn:hover {
    background-color: #8a3235;
}

.image-banner-section {
    background: url('../images/banner.jpg')no-repeat;
    background-size: cover;
    height: 25em;
    width: 100%;
    background-position: 50% 50%;
}

.carousel-controls {
    height: 50px;
}

.bg-light {
    background-color: #FFFCF2 !important;
}

footer {
    background-color: #BA494C;
}

footer p {
    color: white;
}

footer h4 {
    color: #FFF2D7;
}